In [37]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
import datetime as dt

In [38]:
df1 = pd.read_csv('3.csv')
df2= pd.read_csv('all_data.csv')

In [39]:
type(df.created_at[0])

pandas._libs.tslibs.timestamps.Timestamp

In [40]:
df = pd.concat([df1, df2], ignore_index=True)

df = df.sort_values(by='created_at')
df.reset_index(drop=True, inplace=True)
df['entry_id'] = range(1, len(df) + 1)

df['created_at'] = pd.to_datetime(df['created_at'])
df['date'] = df['created_at'].dt.date
df['day'] = df['created_at'].dt.day
df['month'] = df['created_at'].dt.month
df['year'] = df['created_at'].dt.year
df['field3'] = abs(df['field3']/1000).round(decimals=2)
df['Cost_in_\u20B9'] = df['field3']*6.25
df = df.rename(columns={'entry_id' : 'ON_records', 'field3' : 'Units', 'month' : 'Months', 'date' : 'Dates'})

In [47]:
df.created_at = pd.to_numeric(df['created_at'])
type(df.created_at[0])

numpy.int64

In [52]:
df

,created_at,ON_records,Units,Dates,day,Months,year,Cost_in_₹
0,1706832000000000000,1,4.12,2024-02-02,2,2,2024,25.7500
1,1707094800000000000,2,1.50,2024-02-05,5,2,2024,9.3750
2,1707616800000000000,3,3.52,2024-02-11,11,2,2024,22.0000
3,1707706800000000000,4,3.29,2024-02-12,12,2,2024,20.5625
4,1707796800000000000,5,2.40,2024-02-13,13,2,2024,15.0000
...,...,...,...,...,...,...,...,...
98,1716462300000000000,99,0.26,2024-05-23,23,5,2024,1.6250
99,1716462553000000000,100,0.29,2024-05-23,23,5,2024,1.8125
100,1716462667000000000,101,0.00,2024-05-23,23,5,2024,0.0000
101,1716463024000000000,102,0.16,2024-05-23,23,5,2024,1.0000
102,1716463041000000000,103,0.28,2024-05-23,23,5,2024,1.7500

In [54]:
reg = LinearRegression()
reg.fit(df[['created_at']], df['Cost_in_₹'])

LinearRegression()

In [55]:
reg.coef_

array([-1.51860905e-15])

In [56]:
reg.intercept_

2609.7263703740928

In [57]:
reg.predict([[1726463041000000000]])

C:\Users\Shreyas\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([-12.09603445])